@media (min-width:230px) {
    body{
        margin: 0;
        padding: 0;
    }
    h1{
        text-align:center;
        text-decoration: underline;
    }
    h3{
        text-align: center;
    }
    img{
        width:80px;
        height:80px;
        margin: 10% 7% 0 10% ;
    }
    .img{
padding: 5%;
    }
        
    
    
    button{
        margin: 3% 12%;
        padding: 3%;
        width: 20%;
        border-radius:7px ;
        box-shadow: 5px  5px #333;
        color:hsl(0,0%,100%);
        background-color: hsl(179, 62%, 43%) ;
    }

}
@media (min-width:960px) {
    body{
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
    }
    h1{
        text-align:center;
        text-decoration: underline;
    }
    h3{
        text-align: center;
    }
    img{
        width:200px;
        height:200px;
        margin: 3% 15%;
    }
    .img{
padding: 5%;
    }
        
    
    
    button{
        margin: 0 12%;
        padding: 2%;
        width: 20%;
        border-radius:7px ;
        box-shadow: 5px  5px #333;
        color:hsl(0,0%,100%);
        background-color: hsl(179, 62%, 43%) ;
    }
   
}